.esdmaps-map .leaflet-popup-pane {
  display: none;
}

@media (min-width: 400px) {
  .esdmaps-map .leaflet-popup-pane {
    display: block;
  }

  .esdmaps-alt-popup {
    display: none;
  }
}

/* Drop shadow around marker tooltips */
.esdmaps-map .leaflet-popup-content-wrapper {
  box-shadow: 3px 3px 5px 0 #ccc;
}

.esdmaps-map .esdmaps-hover .leaflet-popup-close-button { display: none; }
